[defaults]
inventory = inventories/production
roles_path = roles
retry_files_enabled = false
host_key_checking = false
stdout_callback = default
result_format = yaml
callbacks_enabled = ansible.posix.timer, ansible.posix.profile_tasks
interpreter_python = auto_silent
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 86400

[privilege_escalation]
become = true
become_method = sudo
become_user = root

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=no
